#gmap{width:100%; height:650px;}
.regetate-kml{
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    margin-bottom:6px;
}
.regetate-kml:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}
.regetate-kml:active {
    position:relative;
    top:1px;
}





.clr{clear:both;}

/* control draw map */
.btn-remove-draw {
    background-color: #fff;
    border: 0 none;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 25px;
    padding: 0;
    position: relative; 
    width: 98px;
}
.btn-remove-draw:hover {
    color: #c81313;
}

.btn-zoom-map-draw {
	color:#1e1e1e;
	font-size:18px;
	border: medium none !important;
	margin-right: 7px;
	top: 74px !important;
}

.btn-zoom-map-draw div div {
    border-left: 0 solid #919191 !important;
    width: 100% !important;
		padding-top:2px;
}
.btn-zoom-map-draw div div:after { 
    display: block;
    height: 25px;
    position: relative;
    width: 49px;
} 

#map-loading {
    color: #000;
    margin-left: 48%;
    margin-top: 30%;
    position: absolute;
    z-index: 1000;
}
#content-property {
    background: none repeat scroll 0 0 #fff;
    height: 500px;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 318px;
    width: 295px;
    z-index: 1000;
}