/*----------------------------------------------------------------------------------*/
/* All Filters
/*----------------------------------------------------------------------------------*/
##{$prefijo}luxury-condo-page{

  #wrap-subfilters{
    margin-top: -1px !important;
    #link-favorites{
      display: none;
    }
  }

  .#{$prefijo}content-filters{
    .#{$prefijo}wrap-filters,
    ##{$prefijo}wrap-filters {
      .#{$prefijo}gwr{
        .#{$prefijo}filters,
        ##{$prefijo}filters{
          flex-wrap: wrap;
          width: 100%;
          li{
            &.#{$prefijo}all{
              button{
                border: 1px solid $colorweb;
                font-size: 13px;
                font-weight: 600;
                line-height: 40px;
                text-align: center;
                width: 100%;
                height: 100%;
                background-color: $colorweb;;
                color: #FFF;
                label{
                  &.ib-dt{
                    display: block;    
                  }
                  &.ib-ct{
                    display: none;
                  }
                }
              }
              @media screen and (min-width: 640px){
                display: none;
              }
            }

            &.#{$prefijo}mini-search{
              .search_building{
                padding-right: 55px !important;
              }
              .clidxboost-icon-search{
                right: 0 !important;
              }
            }
          }

          @media (max-width: 767px){
            li{
              width: 100%;
              order: 3;

              &.#{$prefijo}content_select{
                height: 0;
                overflow: hidden;
                transition: all .3s;
                margin-bottom: -1px;
                border-bottom: 1px solid $gris-lineas !important;
                width: 50%;
                border-right: 1px solid $gris-lineas !important;
                &:last-child{
                  border-right: 0 !important;
                }
              }

              &.#{$prefijo}mini-search{
                order: 1;
                width: 70%;
                .clidxboost-icon-search{
                  right: 0;
                  height: 45px;
                }
                input {
                  height: 45px;
                }
              }

              &.#{$prefijo}all{
                width: 30% !important;
                order: 2;
                height: 46px;
                display: block;
              }
            }

            &.#{$prefijo}active-select{
              li{
                &.#{$prefijo}content_select{
                  height: 45px;
                  border-bottom: 1px solid $gris-lineas;
                  overflow: visible;
                }

                &.all{
                  button{
                    label{
                      &.ib-dt{
                        display: none;
                      }
                      &.ib-ct{
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }

          &.active-select{
            li{
              &.content_select{
                min-height: 45px;
              }
            }
          }
        }
      }
    }
  }
}

/*----------------------------------------------------------------------------------*/
/* Vista Mapa
/*----------------------------------------------------------------------------------*/
##{$prefijo}luxury-condo-page{
  #wrap-result{
    &.#{$prefijo}view-map{
      .luxury-condo-title{
        font-size: 18px;
        font-weight: 600;
        margin: 10px 0;
      }
      .ib-btn-show{
        display: none;
      }
      ##{$prefijo}result-search{
        >li{
          .#{$prefijo}features{
            li{
              &.#{$prefijo}name{
                font-family: $opensans;
                font-weight: 700;
                font-size: 1rem;
                width: 100%;
              }
              &.#{$prefijo}address{
                display: block;
                font-size: 14/16*1rem;
                width: 100%;
              }
              &.#{$prefijo}city,
              &.#{$prefijo}unit,
              &.#{$prefijo}year,
              &.#{$prefijo}type,
              &.#{$prefijo}floors{
                display: none;
              }

              &.#{$prefijo}unit,
              &.#{$prefijo}year{
                display: none;
              }

              &.#{$prefijo}tg-building-links{
                position: relative;
                order: 6;
                margin-top: 10px;
                .#{$prefijo}view-map-detail{
                  display: inline-block;
                  /*height: 30px;
                  line-height: 30px;
                  background-color: $colorweb;
                  border: 1px solid $colorweb;*/
                  color: #333;
                  transition: all .3s;
                  margin-right: 10px;
                  font-family: $opensans;
                  font-size: 11/16*1rem;
                  font-weight: 600;
                  /*padding: 0 30/16*1rem;*/
                  text-transform: uppercase;
                  cursor: pointer;
                  &:hover{
                    /*background-color: #FFF;*/
                    color: #0072AC;
                  }
                }
              }
            }
          }
          >h2{
            display: none;
          }

          .#{$prefijo}view-detail{
            display: none !important;
          }
        }
      }

      .#{$prefijo}luxury-condo-title{
        min-height: auto;
      }
    }
  }

  .dgt-richmarker-group, .dgt-richmarker-single {
    border: 1px solid rgba(255,255,255,0.15);
  }
}

#luxury-condo-page{
/*----------------------------------------------------------------------------------*/
/* Vista Grid
/*----------------------------------------------------------------------------------*/
  .view-grid{

    #wrap-list-result{
      padding: 0 15px;
      @media screen and (min-width: 768px){
        padding: 0;
      }
    }

    .luxury-condo-title{
      font-size: 18px;
      font-weight: 600;
      margin: 10px 0;
    }
    .result-search,
    #result-search{
      .propertie{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        @media screen and (min-width: 1200px){
          width: 24.24% !important;
          //width: 19.19% !important;
          margin-right: 1% !important;
          &:nth-child(4n){
          //&:nth-child(5n){
            margin-right: 0 !important;
          }
        }


        >h2{
          display: none;
        }

        .features{
          position: relative;
          order: 2;
          padding: 0 !important;
          width: 100%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          &:after{
            content: "";
            display: block;
            clear: both;
          }

          li{
            width: 100%;
          }

          .city{
            display: none;
          }

          .tg-building-links{
            display: none;
          }

          .name{
            min-height: 45px;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $colorweb;
            color: #FFF;
            font-weight: 600;
            text-align: center;
            span{
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
            }
          }

          .address{
            min-height: 40px;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-bottom: 1px solid $gris-lineas;
            font-size: 14px;
            span{
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
            }
          }

          .year,
          .unit,
          .floors{
            height: 40px;
            width: 33.33%;
            display: flex;
            align-items: center;
            font-size: 14px;
            margin: 0;
            padding: 0 10px;
            flex-grow: 1;
            float: left;
            &:before{
              content: attr(data-text);
              display: inline-block;
              font-size: 12px;
              margin-right: 5px;
            }
          }

          .unit{
            text-align: left;
          }
          .year{
            justify-content: flex-end;
          }

          .floors{
            justify-content: center;
          }
        }

        .view-detail{
          text-indent: -999999px;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          height: 100%;
          width: 100%;
        }

        .wrap-slider{
          order: 1;
          width: 100%;
          height: auto;
          margin-bottom: -5px;
          img{
            transition: opacity .3s, transform 1s, -webkit-transform 1s;
          }
        }

        &:hover{
          .wrap-slider{
            img{
              transform: scale3d(1.1, 1.1, 1);
            }
          }
        }
      }
    }

    .ib-btn-show{
      display: none;
    }
  }

/*----------------------------------------------------------------------------------*/
/* Vista List
/*----------------------------------------------------------------------------------*/
  .view-list{

    #head-list{
      padding: 0;
      display: none;
      li{
        padding: 5px 10px;
        width: 25%;
        min-width: 65px;
        border: 1px solid transparent;
        text-align: center;
        justify-content: center !important;
        &.name,
        &.addres{
          width: 56%;
          min-width: 280px;
        }
      }
      @media screen and (min-width: 991px){
        display: flex;
      }
    } 

    #wrap-list-result{
      padding: 0 15px;
      @media screen and (min-width: 768px){
        padding: 0;
      }
    }

    .luxury-condo-title{
      font-size: 18px;
      font-weight: 600;
      margin: 10px 0;
    }
    .result-search,
    #result-search{
      .propertie{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0;
        min-height: auto;
        overflow: hidden;
        height: 45px;
        margin-bottom: 5px;
        @media screen and (min-width: 991px){
          height: auto;
          overflow: visible;
          &:last-child{
            margin-bottom: 0;
          }
        }

        >h2{
          display: none;
        }

        .features{
          position: relative;
          order: 2;
          padding: 0;
          width: 100%;
          height: auto;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          @media screen and (min-width: 991px){
            flex-wrap: nowrap;
            &:before{
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(0,0,0,0.065);
              opacity: 0;
              transition: opacity .4s;
            }
          }

          &:after{
            content: "";
            display: block;
            clear: both;
          }

          li{
            width: 100%;
            @media screen and (min-width: 991px){
              width: 25%;
              min-width: 65px;
            }
          }

          .city{
            display: none;
          }

          .name{
            min-height: 45px;
            padding: 5px 10px;
            padding-left: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $colorweb;
            color: #FFF;
            font-weight: 600;
            text-align: center;
            span{
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
            }
            @media screen and (min-width: 991px){
              width: 75%;
              min-width: 280px;
              padding-left: 10px;
            }
          }

          .address{
            min-height: 45px;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 1px solid $gris-lineas;
            font-size: 14px;
            font-weight: normal !important;
            span{
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
            }
            @media screen and (min-width: 991px){
              width: 75%;
              min-width: 280px;
              margin-right: -1px;
            }
          }

          .year,
          .unit,
          .floors,
          .tg-building-links{
            align-items: center;
            border-bottom: 1px solid $gris-lineas;
            border-left: 1px solid $gris-lineas;
            display: flex;
            flex-grow: 1;
            flex-grow: 1;
            font-size: 14px;
            height: 45px;
            margin: 0;
            margin-top: -1px;
            padding: 0 10px;
            width: 25%;
            float: left;
            justify-content: center;
            flex-direction: column;
            &:before{
              content: attr(data-text);
              display: inline-block;
              font-size: 12px;
              margin-bottom: 5px;
              @media screen and (min-width: 991px){
                display: none;
              }
            }
            @media screen and (min-width: 991px){
              margin-top: 0;
              border-top: 1px solid $gris-lineas;
            }
          }

          .tg-building-links{
            border-right: 1px solid $gris-lineas;
            border-left: 0;
            text-align: center;
            color: #FFF;
            background-color: $colorweb;
            font-size: 13px;
            @media screen and (min-width: 991px){
              display: none;
            }
            .view_inmap{
              display: none;
            }
            &:before{
              display: none;
            }
            a{
              font-weight: 600;
              color: #FFF;
            }
          }

          .year{
            border-right: 1px solid $gris-lineas;
          }
        }

        .view-detail{
          text-indent: -999999px;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          height: 100%;
          width: 100%;
          border: 0 !important;
        }

        .wrap-slider{
          display: none;
          position: absolute;
          z-index: -1;
          width: 31.65%;
          height: 45px;
          transition: opacity .4s;
          opacity: 0;
          @media screen and (min-width: 991px){
            display: block;
          }
          >ul{
            display: block;
            width: 150px;
            height: 100px;
            margin: 0 auto;
            position: absolute;
            right: 0;
            left: 0;
            top: -115px;
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
            transition: top .4s;
            &:after{
              content: "";
              width: 0;
              height: 0;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-top: 10px solid #FFF;
              position: absolute;
              bottom: -10px;
              right: 0;
              left: 0;
              margin: 0 auto;
            }
            >li{
              border: 5px solid #FFF;
              cursor: pointer;
            }
          }
        }

        &:hover{
          .wrap-slider{
            z-index: 1;
            opacity: 1;
            >ul{
              top: -105px;
            }
          }
          .features{
            &:before{
              opacity: 1;
            }
          }
        }

        &.active-list{
          height: auto;
          .ib-btn-show{
            span{
              &:before{
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }

    .ib-btn-show{
      display: block;
      width: 45px;
      height: 45px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      border: 1px solid $gris-lineas;
      background-color: #f6f6f6;
      cursor: pointer;
      span{
        display: block;
        &:before{
          content: "+";
          text-indent: 0;
          font-size: 30px;
          display: flex;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          align-items: center;
          justify-content: center;
          transition: transform .3s;
          font-weight: 700;
        }
      }

      @media screen and (min-width: 991px){
        display: none;
      }
    }
  }
}

.content-search-building{
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#wrap-filters #filters>li.mini-search form #submit-ms input[type=submit] {
  height: 100%;
}