/*----------------------------------------------------------------------------------*/
/* MODAL LOGIN 2019
/*----------------------------------------------------------------------------------*/
#modal_login .modal_cm .form_content #push-registration input[name='register_email'],
#modal_login .modal_cm .form_content #push-registration input[name="register_name"],
#modal_login .modal_cm .form_content #push-registration input[name="register_last_name"],
#modal_login .modal_cm .form_content #push-registration input[name="register_phone"],
#modal_login .modal_cm .form_content #push-registration input[name="register_phone_facebook"],
#modal_login .modal_cm .form_content #push-registration #txt_user,
#modal_login .modal_cm .form_content #push-registration #txt_pwd,
#modal_login .modal_cm .form_content #push-registration #reset_email,
#modal_login .modal_cm .form_content #cntLoginForm input[name='register_email'],
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_name"],
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_last_name"],
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone"],
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone_facebook"],
#modal_login .modal_cm .form_content #cntLoginForm #txt_user,
#modal_login .modal_cm .form_content #cntLoginForm #txt_pwd,
#modal_login .modal_cm .form_content #cntLoginForm #reset_email, #modal_login .modal_cm .form_content #push-registration input[name='register_email']:-webkit-autofill, #modal_login .modal_cm .form_content #push-registration input[name='register_email']:-webkit-autofill:hover, #modal_login .modal_cm .form_content #push-registration input[name='register_email']:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #push-registration input[name="register_name"]:-webkit-autofill,
#modal_login .modal_cm .form_content #push-registration input[name="register_name"]:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #push-registration input[name="register_name"]:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #push-registration input[name="register_last_name"]:-webkit-autofill,
#modal_login .modal_cm .form_content #push-registration input[name="register_last_name"]:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #push-registration input[name="register_last_name"]:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #push-registration input[name="register_phone"]:-webkit-autofill,
#modal_login .modal_cm .form_content #push-registration input[name="register_phone"]:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #push-registration input[name="register_phone"]:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #push-registration input[name="register_phone_facebook"]:-webkit-autofill,
#modal_login .modal_cm .form_content #push-registration input[name="register_phone_facebook"]:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #push-registration input[name="register_phone_facebook"]:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #push-registration #txt_user:-webkit-autofill,
#modal_login .modal_cm .form_content #push-registration #txt_user:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #push-registration #txt_user:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #push-registration #txt_pwd:-webkit-autofill,
#modal_login .modal_cm .form_content #push-registration #txt_pwd:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #push-registration #txt_pwd:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #push-registration #reset_email:-webkit-autofill,
#modal_login .modal_cm .form_content #push-registration #reset_email:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #push-registration #reset_email:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #cntLoginForm input[name='register_email']:-webkit-autofill,
#modal_login .modal_cm .form_content #cntLoginForm input[name='register_email']:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #cntLoginForm input[name='register_email']:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_name"]:-webkit-autofill,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_name"]:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_name"]:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_last_name"]:-webkit-autofill,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_last_name"]:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_last_name"]:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone"]:-webkit-autofill,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone"]:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone"]:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone_facebook"]:-webkit-autofill,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone_facebook"]:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone_facebook"]:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #cntLoginForm #txt_user:-webkit-autofill,
#modal_login .modal_cm .form_content #cntLoginForm #txt_user:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #cntLoginForm #txt_user:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #cntLoginForm #txt_pwd:-webkit-autofill,
#modal_login .modal_cm .form_content #cntLoginForm #txt_pwd:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #cntLoginForm #txt_pwd:-webkit-autofill:focus,
#modal_login .modal_cm .form_content #cntLoginForm #reset_email:-webkit-autofill,
#modal_login .modal_cm .form_content #cntLoginForm #reset_email:-webkit-autofill:hover,
#modal_login .modal_cm .form_content #cntLoginForm #reset_email:-webkit-autofill:focus, #modal_login .modal_cm .form_content #formReset #reset_email {
  background-image: url("../images/icons-login.png") !important;
  background-size: 44px;
  background-repeat: no-repeat;
  background-position: 0 -1px;
  padding-left: 44px;
  background-color: #FFF !important; }

#modal_login .modal_cm {
  height: auto; }
  @media screen and (min-width: 640px) {
    #modal_login .modal_cm {
      min-height: 480px;
      padding-bottom: 40px; } }
  #modal_login .modal_cm .ms-samll {
    max-width: 210px; }
  #modal_login .modal_cm .content_md {
    height: 100%;
    padding-bottom: 0; }
    #modal_login .modal_cm .content_md .heder_md,
    #modal_login .modal_cm .content_md .ms-header-md {
      padding: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 25px;
      /*min-height: 90px;*/
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: center;
      font-size: 14px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      #modal_login .modal_cm .content_md .heder_md .ms-title-modal,
      #modal_login .modal_cm .content_md .ms-header-md .ms-title-modal {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        padding: 0 20px; }
        #modal_login .modal_cm .content_md .heder_md .ms-title-modal span.ms-spn,
        #modal_login .modal_cm .content_md .ms-header-md .ms-title-modal span.ms-spn {
          margin-top: 0;
          display: block;
          font-size: 20px !important; }
        #modal_login .modal_cm .content_md .heder_md .ms-title-modal span:not(.ms-spn),
        #modal_login .modal_cm .content_md .ms-header-md .ms-title-modal span:not(.ms-spn) {
          display: none !important; }
      #modal_login .modal_cm .content_md .heder_md a,
      #modal_login .modal_cm .content_md .ms-header-md a {
        color: #333;
        -webkit-transition: color .3s;
        -o-transition: color .3s;
        transition: color .3s; }
        #modal_login .modal_cm .content_md .heder_md a:hover,
        #modal_login .modal_cm .content_md .ms-header-md a:hover {
          color: #0072AC; }
    #modal_login .modal_cm .content_md .ms-strong {
      font-weight: 600; }
      #modal_login .modal_cm .content_md .ms-strong.ms-tab {
        color: #6388cf; }
    #modal_login .modal_cm .content_md .header-tab {
      display: none; }
    #modal_login .modal_cm .content_md .ms-sub-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 40px; }
      #modal_login .modal_cm .content_md .ms-sub-title.ms-no-mb {
        margin-bottom: 0; }
      @media (max-width: 639px) {
        #modal_login .modal_cm .content_md .ms-sub-title {
          font-size: 16px; } }
    #modal_login .modal_cm .content_md .body_md .header-tab {
      margin-top: 20px; }
      #modal_login .modal_cm .content_md .body_md .header-tab li a {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-bottom: 1px solid #E5E5E5; }
        #modal_login .modal_cm .content_md .body_md .header-tab li a.active {
          border-color: #333 !important; }
    #modal_login .modal_cm .content_md .line_or {
      position: relative;
      text-align: center;
      margin: 15px 0; }
      #modal_login .modal_cm .content_md .line_or:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        top: 50%;
        background: #adadad;
        z-index: 1; }
      #modal_login .modal_cm .content_md .line_or span {
        display: inline-block;
        position: relative;
        z-index: 2;
        vertical-align: top;
        width: 25px;
        height: 25px;
        line-height: 22px;
        border-radius: 50%;
        background: #adadad;
        color: #fff;
        font-size: 0.8125rem;
        font-family: "Open Sans", sans-serif; }
    #modal_login .modal_cm .content_md.ms-hidden-extras .heder_md,
    #modal_login .modal_cm .content_md.ms-hidden-extras .header-tab,
    #modal_login .modal_cm .content_md.ms-hidden-extras .line_or,
    #modal_login .modal_cm .content_md.ms-hidden-extras .social_login {
      display: none; }
    #modal_login .modal_cm .content_md .ms-header-md .ms-title-modal.ms-no-mb {
      margin-bottom: 0; }
    #modal_login .modal_cm .content_md .ms-icon {
      width: 66px;
      height: 66px;
      margin: 20px auto 15px auto;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #FFF;
      color: #676766; }
      #modal_login .modal_cm .content_md .ms-icon:before {
        display: inline-block;
        font-family: "idx-icons" !important; }
      #modal_login .modal_cm .content_md .ms-icon.ms-register:before {
        content: "\e943";
        font-size: 40px; }
      #modal_login .modal_cm .content_md .ms-icon.ms-phone:before {
        content: "\e91d";
        font-size: 40px; }
      #modal_login .modal_cm .content_md .ms-icon.ms-time {
        color: #000000; }
        #modal_login .modal_cm .content_md .ms-icon.ms-time:before {
          content: "\e942";
          font-size: 40px; }
      #modal_login .modal_cm .content_md .ms-icon.ms-financing {
        color: #000000; }
        #modal_login .modal_cm .content_md .ms-icon.ms-financing:before {
          content: "\e941";
          font-size: 40px; }
      #modal_login .modal_cm .content_md .ms-icon.ms-sale {
        color: #000000; }
        #modal_login .modal_cm .content_md .ms-icon.ms-sale:before {
          content: "\e940";
          font-size: 40px; }
    #modal_login .modal_cm .content_md .pr-step .ms-link.close-modal {
      position: relative;
      width: 200px;
      top: 0;
      right: auto;
      display: block;
      height: 40px;
      margin: 5px auto 0 auto;
      background-color: transparent;
      color: #333;
      font-size: 14px;
      font-weight: 600;
      -webkit-transition: color .3s;
      -o-transition: color .3s;
      transition: color .3s;
      text-indent: 0; }
      #modal_login .modal_cm .content_md .pr-step .ms-link.close-modal:hover {
        color: #0072AC; }
  #modal_login .modal_cm .form_content .form_md .form_input {
    margin-bottom: 10px; }
    #modal_login .modal_cm .form_content .form_md .form_input input {
      height: 55px; }
      #modal_login .modal_cm .form_content .form_md .form_input input::-webkit-input-placeholder {
        color: #b9b9b9; }
      #modal_login .modal_cm .form_content .form_md .form_input input::-moz-placeholder {
        color: #b9b9b9; }
      #modal_login .modal_cm .form_content .form_md .form_input input:-ms-input-placeholder {
        color: #b9b9b9; }
      #modal_login .modal_cm .form_content .form_md .form_input input:-moz-placeholder {
        color: #b9b9b9; }
  #modal_login .modal_cm .form_content .showpassord {
    height: 55px !important; }
  #modal_login .modal_cm .form_content .pr-steps-container .pr-step .pr-dgray {
    font-size: 14px;
    margin-top: 5px; }
  #modal_login .modal_cm .form_content .pr-steps-container .pr-step .ms-text p {
    margin-bottom: 0; }
  #modal_login .modal_cm .form_content .pr-steps-container .pr-step .wrapper-input input {
    height: 55px; }
    #modal_login .modal_cm .form_content .pr-steps-container .pr-step .wrapper-input input::-webkit-input-placeholder {
      color: #b9b9b9; }
    #modal_login .modal_cm .form_content .pr-steps-container .pr-step .wrapper-input input::-moz-placeholder {
      color: #b9b9b9; }
    #modal_login .modal_cm .form_content .pr-steps-container .pr-step .wrapper-input input:-ms-input-placeholder {
      color: #b9b9b9; }
    #modal_login .modal_cm .form_content .pr-steps-container .pr-step .wrapper-input input:-moz-placeholder {
      color: #b9b9b9; }
  #modal_login .modal_cm .form_content .pr-steps-container .pr-step label {
    margin: 7px 0 !important;
    font-size: 15px !important; }
    #modal_login .modal_cm .form_content .pr-steps-container .pr-step label.ms-strong {
      font-weight: 700; }
    #modal_login .modal_cm .form_content .pr-steps-container .pr-step label .txtgray {
      font-size: 15px !important; }
  #modal_login .modal_cm .form_content #push-registration #txt_pwd,
  #modal_login .modal_cm .form_content #push-registration #reset_email,
  #modal_login .modal_cm .form_content #push-registration input[name="register_phone"],
  #modal_login .modal_cm .form_content #push-registration input[name="register_phone_facebook"],
  #modal_login .modal_cm .form_content #cntLoginForm #txt_pwd,
  #modal_login .modal_cm .form_content #cntLoginForm #reset_email,
  #modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone"],
  #modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone_facebook"] {
    background-position: 0 -57px; }
    #modal_login .modal_cm .form_content #push-registration #txt_pwd:-webkit-autofill, #modal_login .modal_cm .form_content #push-registration #txt_pwd:-webkit-autofill:hover, #modal_login .modal_cm .form_content #push-registration #txt_pwd:-webkit-autofill:focus,
    #modal_login .modal_cm .form_content #push-registration #reset_email:-webkit-autofill,
    #modal_login .modal_cm .form_content #push-registration #reset_email:-webkit-autofill:hover,
    #modal_login .modal_cm .form_content #push-registration #reset_email:-webkit-autofill:focus,
    #modal_login .modal_cm .form_content #push-registration input[name="register_phone"]:-webkit-autofill,
    #modal_login .modal_cm .form_content #push-registration input[name="register_phone"]:-webkit-autofill:hover,
    #modal_login .modal_cm .form_content #push-registration input[name="register_phone"]:-webkit-autofill:focus,
    #modal_login .modal_cm .form_content #push-registration input[name="register_phone_facebook"]:-webkit-autofill,
    #modal_login .modal_cm .form_content #push-registration input[name="register_phone_facebook"]:-webkit-autofill:hover,
    #modal_login .modal_cm .form_content #push-registration input[name="register_phone_facebook"]:-webkit-autofill:focus,
    #modal_login .modal_cm .form_content #cntLoginForm #txt_pwd:-webkit-autofill,
    #modal_login .modal_cm .form_content #cntLoginForm #txt_pwd:-webkit-autofill:hover,
    #modal_login .modal_cm .form_content #cntLoginForm #txt_pwd:-webkit-autofill:focus,
    #modal_login .modal_cm .form_content #cntLoginForm #reset_email:-webkit-autofill,
    #modal_login .modal_cm .form_content #cntLoginForm #reset_email:-webkit-autofill:hover,
    #modal_login .modal_cm .form_content #cntLoginForm #reset_email:-webkit-autofill:focus,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone"]:-webkit-autofill,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone"]:-webkit-autofill:hover,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone"]:-webkit-autofill:focus,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone_facebook"]:-webkit-autofill,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone_facebook"]:-webkit-autofill:hover,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_phone_facebook"]:-webkit-autofill:focus {
      background-position: 0 -57px; }
  #modal_login .modal_cm .form_content #push-registration input[name="register_name"],
  #modal_login .modal_cm .form_content #push-registration input[name="register_last_name"],
  #modal_login .modal_cm .form_content #cntLoginForm input[name="register_name"],
  #modal_login .modal_cm .form_content #cntLoginForm input[name="register_last_name"] {
    background-position: 0 -114px; }
    #modal_login .modal_cm .form_content #push-registration input[name="register_name"]:-webkit-autofill, #modal_login .modal_cm .form_content #push-registration input[name="register_name"]:-webkit-autofill:hover, #modal_login .modal_cm .form_content #push-registration input[name="register_name"]:-webkit-autofill:focus,
    #modal_login .modal_cm .form_content #push-registration input[name="register_last_name"]:-webkit-autofill,
    #modal_login .modal_cm .form_content #push-registration input[name="register_last_name"]:-webkit-autofill:hover,
    #modal_login .modal_cm .form_content #push-registration input[name="register_last_name"]:-webkit-autofill:focus,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_name"]:-webkit-autofill,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_name"]:-webkit-autofill:hover,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_name"]:-webkit-autofill:focus,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_last_name"]:-webkit-autofill,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_last_name"]:-webkit-autofill:hover,
    #modal_login .modal_cm .form_content #cntLoginForm input[name="register_last_name"]:-webkit-autofill:focus {
      background-position: 0 -114px; }
  #modal_login .modal_cm .form_content .btn_form,
  #modal_login .modal_cm .form_content .pr-steps-container .pr-step .pr-next-step,
  #modal_login .modal_cm .form_content .pr-steps-container .pr-step .pr-redbtn {
    border-radius: 4px;
    height: 55px;
    font-size: 15px;
    border: 0 !important;
    background-color: #cd1414 !important;
    text-transform: none; }
    #modal_login .modal_cm .form_content .btn_form:hover,
    #modal_login .modal_cm .form_content .pr-steps-container .pr-step .pr-next-step:hover,
    #modal_login .modal_cm .form_content .pr-steps-container .pr-step .pr-redbtn:hover {
      background-color: #ec2424 !important;
      color: #FFF !important; }
  #modal_login .modal_cm .form_content #formReset .btn_form {
    background-color: #464646 !important; }
    #modal_login .modal_cm .form_content #formReset .btn_form:hover {
      background-color: #000 !important; }
  #modal_login .modal_cm .ms-label {
    display: block;
    text-align: center;
    margin: 10px 0; }
    #modal_login .modal_cm .ms-label a {
      -webkit-transition: color .3s;
      -o-transition: color .3s;
      transition: color .3s;
      font-weight: 600;
      color: #648ad2; }
      #modal_login .modal_cm .ms-label a:hover {
        color: #648ad2;
        text-decoration: underline; }
  #modal_login .modal_cm .ms-sub-text {
    display: block;
    text-align: center;
    margin: 20px 0 10px 0;
    font-weight: 400;
    font-size: 16px; }
  #modal_login .modal_cm #tabLogin .ms-text {
    text-align: center;
    display: block;
    margin-bottom: 15px; }
  #modal_login .modal_cm label.agile-label {
    margin: 7px 0 !important;
    font-size: 16px !important;
    display: block; }
  #modal_login .modal_cm #formReset p {
    font-size: 15px;
    text-align: center;
    line-height: 1.6;
    padding: 0 10px; }

#modal_login .social_login .ico-facebook {
  background: #3a5a93 !important;
  border-color: #3a5a93;
  height: 55px; }
  #modal_login .social_login .ico-facebook:hover {
    background: #2a4879 !important;
    border-color: #2a4879; }

#modal_login .ms-separator {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 1px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #333; }

#modal_login .footer_md.terms-md {
  border-top: 0;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 20px; }
  @media screen and (min-width: 640px) {
    #modal_login .footer_md.terms-md {
      position: absolute;
      bottom: 15px;
      margin-top: 0; } }
  #modal_login .footer_md.terms-md * {
    font-size: 14px; }
  #modal_login .footer_md.terms-md a {
    color: #648ad2; }
    #modal_login .footer_md.terms-md a:hover {
      text-decoration: underline; }
  @media (max-width: 640px) {
    #modal_login .footer_md.terms-md p span {
      display: block; } }

#modal_login .modal_cm #push-registration .pr-steps-container .pr-step .pr-radio-list {
  margin: 15px 0; }
  #modal_login .modal_cm #push-registration .pr-steps-container .pr-step .pr-radio-list li {
    height: 55px;
    position: relative; }
    #modal_login .modal_cm #push-registration .pr-steps-container .pr-step .pr-radio-list li input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      z-index: 0; }
    #modal_login .modal_cm #push-registration .pr-steps-container .pr-step .pr-radio-list li label {
      position: relative;
      z-index: 2;
      color: #333;
      background-color: transparent;
      border: 1px solid #909092;
      height: 100%;
      margin: 0;
      cursor: pointer; }
      #modal_login .modal_cm #push-registration .pr-steps-container .pr-step .pr-radio-list li label:hover {
        background-color: #333;
        border-color: #333;
        color: #FFF; }

#modal_login .ms-back {
  width: 45px;
  height: 45px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }
  #modal_login .ms-back .ms-icon-back {
    width: 100%;
    height: 100%;
    background-color: transparent; }
    #modal_login .ms-back .ms-icon-back span {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative; }
      #modal_login .ms-back .ms-icon-back span:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 45px solid #FFF;
        border-right: 45px solid transparent;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
      #modal_login .ms-back .ms-icon-back span:after {
        content: "\e944";
        font-family: "idx-icons" !important;
        display: inline-block;
        font-size: 20px;
        position: absolute;
        top: 4px;
        left: 4px;
        color: #333;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
    #modal_login .ms-back .ms-icon-back:hover span:before {
      border-top: 45px solid #3a5a93; }
    #modal_login .ms-back .ms-icon-back:hover span:after {
      color: #FFF; }

#modal_login .pr-step.email-registration .name-input-content {
  margin-top: 15px; }

@media (max-width: 639px) {
  #modal_login {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7) !important; }
    #modal_login .modal_cm {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), color-stop(50%, rgba(255, 255, 255, 0)), to(black));
      background: -webkit-linear-gradient(bottom, black 10%, rgba(255, 255, 255, 0) 50%, black 100%);
      background: -o-linear-gradient(bottom, black 10%, rgba(255, 255, 255, 0) 50%, black 100%);
      background: linear-gradient(0deg, black 10%, rgba(255, 255, 255, 0) 50%, black 100%); }
      #modal_login .modal_cm .content_md .heder_md .ms-title-modal {
        color: #FFF; }
      #modal_login .modal_cm .content_md .heder_md,
      #modal_login .modal_cm .content_md .ms-header-md {
        padding-top: 40px;
        padding-left: 0;
        padding-right: 0; }
        #modal_login .modal_cm .content_md .heder_md .ms-title-modal,
        #modal_login .modal_cm .content_md .ms-header-md .ms-title-modal {
          font-size: 19px;
          color: #FFF; }
      #modal_login .modal_cm .content_md .modal_cm .close-modal span {
        color: #FFF !important; }
      #modal_login .modal_cm #tabLogin .ms-text {
        color: #FFF; }
      #modal_login .modal_cm .form_content .pr-steps-container .pr-step .pr-dgray,
      #modal_login .modal_cm .form_content .pr-steps-container .pr-step label,
      #modal_login .modal_cm label.agile-label,
      #modal_login .modal_cm #formReset p,
      #modal_login .modal_cm .ms-sub-text,
      #modal_login .modal_cm .ms-label,
      #modal_login .modal_cm .footer_md.terms-md,
      #modal_login .modal_cm .ms-text,
      #modal_login .modal_cm .ms-sub-title {
        color: #FFF; }
      #modal_login .modal_cm .ms-text {
        margin-top: 15px; }
        #modal_login .modal_cm .ms-text p {
          color: #FFF; }
      #modal_login .modal_cm .name-input-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        #modal_login .modal_cm .name-input-content .item-name {
          width: 48%; }
      #modal_login .modal_cm #push-registration .pr-steps-container .pr-step .pr-radio-list li label {
        background-color: #f4f5f9;
        color: #333; }
        #modal_login .modal_cm #push-registration .pr-steps-container .pr-step .pr-radio-list li label:hover {
          background-color: #FFF;
          color: #333; } }

.pr-step.facebook-registration,
.ib-pr-step.ib-pr-radio {
  height: 440px; }
  .pr-step.facebook-registration .ms-header-md,
  .ib-pr-step.ib-pr-radio .ms-header-md {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .pr-step.facebook-registration .ms-header-md .ms-title-modal,
    .ib-pr-step.ib-pr-radio .ms-header-md .ms-title-modal {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5px;
      padding: 0; }
    .pr-step.facebook-registration .ms-header-md .ms-sub-title,
    .ib-pr-step.ib-pr-radio .ms-header-md .ms-sub-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px; }
      @media (max-width: 639px) {
        .pr-step.facebook-registration .ms-header-md .ms-sub-title,
        .ib-pr-step.ib-pr-radio .ms-header-md .ms-sub-title {
          font-size: 16px; } }
      .pr-step.facebook-registration .ms-header-md .ms-sub-title.ms-no-mb,
      .ib-pr-step.ib-pr-radio .ms-header-md .ms-sub-title.ms-no-mb {
        margin-bottom: 0; }
    .pr-step.facebook-registration .ms-header-md .ms-icon,
    .ib-pr-step.ib-pr-radio .ms-header-md .ms-icon {
      width: 66px;
      height: 66px;
      margin: 20px auto 15px auto;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #FFF;
      color: #000; }
      .pr-step.facebook-registration .ms-header-md .ms-icon:before,
      .ib-pr-step.ib-pr-radio .ms-header-md .ms-icon:before {
        display: inline-block;
        font-family: "idx-icons" !important;
        font-size: 40px; }
      .pr-step.facebook-registration .ms-header-md .ms-icon.ms-time:before,
      .ib-pr-step.ib-pr-radio .ms-header-md .ms-icon.ms-time:before {
        content: "\e942"; }
      .pr-step.facebook-registration .ms-header-md .ms-icon.ms-financing:before,
      .ib-pr-step.ib-pr-radio .ms-header-md .ms-icon.ms-financing:before {
        content: "\e941"; }
      .pr-step.facebook-registration .ms-header-md .ms-icon.ms-sale:before,
      .ib-pr-step.ib-pr-radio .ms-header-md .ms-icon.ms-sale:before {
        content: "\e940"; }
  .pr-step.facebook-registration label,
  .ib-pr-step.ib-pr-radio label {
    width: 100%;
    display: block;
    margin: 7px 0 !important;
    font-size: 15px !important;
    font-family: "Open Sans", sans-serif; }
    .pr-step.facebook-registration label span,
    .ib-pr-step.ib-pr-radio label span {
      color: #a7a6ae; }
  .pr-step.facebook-registration input[name=register_phone_facebook],
  .ib-pr-step.ib-pr-radio input[name=register_phone_facebook] {
    padding: 0 1rem;
    background-position: 0 -57px;
    background-image: url("../images/icons-login.png") !important;
    background-size: 44px;
    background-repeat: no-repeat;
    padding-left: 44px;
    background-color: #FFF !important;
    height: 55px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    width: 100%; }
  .pr-step.facebook-registration .wrapper-input,
  .ib-pr-step.ib-pr-radio .wrapper-input {
    width: 100%;
    margin-bottom: 0.625rem; }
  .pr-step.facebook-registration .pr-redbtn,
  .ib-pr-step.ib-pr-radio .pr-redbtn {
    border-radius: 4px;
    height: 55px;
    font-size: 15px;
    border: 0 !important;
    background-color: #cd1414;
    text-transform: none;
    color: #FFF;
    width: 100%;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-weight: 600; }
    .pr-step.facebook-registration .pr-redbtn:hover,
    .ib-pr-step.ib-pr-radio .pr-redbtn:hover {
      background-color: #ec2424;
      color: #FFF; }
  .pr-step.facebook-registration .ib-pr-radio-list,
  .ib-pr-step.ib-pr-radio .ib-pr-radio-list {
    margin: 15px 0; }
    .pr-step.facebook-registration .ib-pr-radio-list li,
    .ib-pr-step.ib-pr-radio .ib-pr-radio-list li {
      height: 55px !important;
      position: relative !important;
      width: 100% !important;
      display: block !important;
      margin-bottom: 0.625rem !important; }
      .pr-step.facebook-registration .ib-pr-radio-list li:last-child,
      .ib-pr-step.ib-pr-radio .ib-pr-radio-list li:last-child {
        margin-bottom: 0 !important; }
      .pr-step.facebook-registration .ib-pr-radio-list li label,
      .ib-pr-step.ib-pr-radio .ib-pr-radio-list li label {
        position: relative !important;
        z-index: 2 !important;
        color: #333 !important;
        background-color: transparent !important;
        border: 1px solid #909092 !important;
        height: 100% !important;
        margin: 0 !important;
        cursor: pointer !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        width: 100% !important;
        -webkit-transition: all .3s !important;
        -o-transition: all .3s !important;
        transition: all .3s !important; }
        .pr-step.facebook-registration .ib-pr-radio-list li label:hover,
        .ib-pr-step.ib-pr-radio .ib-pr-radio-list li label:hover {
          background-color: #333 !important;
          border-color: #333 !important;
          color: #FFF !important; }

#ib-push-registration-quizz-ct {
  height: 100vh; }
  #ib-push-registration-quizz-ct .ms-center {
    text-align: center;
    margin: 15px 0 0; }
    #ib-push-registration-quizz-ct .ms-center .ms-skip {
      font-size: 16px;
      font-weight: 600;
      color: #333;
      background-color: transparent; }
      @media (max-width: 639px) {
        #ib-push-registration-quizz-ct .ms-center .ms-skip {
          color: #FFF; } }
  #ib-push-registration-quizz-ct .ib-mwrapper.ib-mgeneric {
    padding: 0; }
    #ib-push-registration-quizz-ct .ib-mwrapper.ib-mgeneric .ib-mgcontent {
      padding: 0 20px 20px; }
  @media (max-width: 639px) {
    #ib-push-registration-quizz-ct {
      width: 100%; }
      #ib-push-registration-quizz-ct .ib-mmcontent,
      #ib-push-registration-quizz-ct .ib-mgeneric {
        width: 100%; } }

@media (max-width: 639px) {
  #ib-push-registration-quizz-ct {
    background-color: rgba(0, 0, 0, 0.1) !important; }
    #ib-push-registration-quizz-ct .ib-mgeneric {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), color-stop(50%, rgba(255, 255, 255, 0)), to(black)) !important;
      background: -webkit-linear-gradient(bottom, black 10%, rgba(255, 255, 255, 0) 50%, black 100%) !important;
      background: -o-linear-gradient(bottom, black 10%, rgba(255, 255, 255, 0) 50%, black 100%) !important;
      background: linear-gradient(0deg, black 10%, rgba(255, 255, 255, 0) 50%, black 100%) !important; }
    #ib-push-registration-quizz-ct .ib-pr-step.ib-pr-radio .ms-header-md,
    #ib-push-registration-quizz-ct .pr-step.facebook-registration .ms-header-md,
    #ib-push-registration-quizz-ct .ib-pr-step.ib-pr-radio label,
    #ib-push-registration-quizz-ct .pr-step.facebook-registration label,
    #ib-push-registration-quizz-ct .ib-pr-step.ib-pr-radio .ms-header-md,
    #ib-push-registration-quizz-ct .pr-step.facebook-registration .ms-header-md {
      color: #FFF !important; }
    #ib-push-registration-quizz-ct #ib-push-registration .ib-pr-steps-container .ib-pr-step .ib-pr-radio-list li label {
      background-color: #f4f5f9 !important;
      color: #333 !important; } }

.dgt-email-error {
  color: #f15c5c;
  font-weight: 600;
  text-align: center;
  font-size: 13px !important;
  display: none; }
